<div class="d-flex">
    <button type="button" class="btn btn-outline-warning m-1 btn-sm" (click)="back()">Back</button>
    <h4 class="display-7 mx-3">
        Your
        <small class="text-body-secondary">{{dashboard.name}}</small>
        Portfolios
    </h4>
</div>

<div class="nav-scroller border-bottom mt-4">
    <nav class="nav justify-content-center">
        <div class="card text-bg-light mb-2 mx-3 p-4" *ngFor="let item of portfolios">
            <div class="card-body">
                <a class="nav-item nav-link link-body-emphasis" href="#" routerLink="/dashboard/{{item.dashboardId}}/portfolio/{{item._id}}/{{item.currency}}" >{{item.name}}</a>
            </div>
          </div>
    </nav>
</div>

<app-dashboard-detail></app-dashboard-detail>